<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>
<app-navbar></app-navbar>
<div class="container">
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Add Screen Monitor</h3>
                    <p>Fill the data below.</p>
                    <form [formGroup]="userForm">
                        <div class="col-md-12">
                            <label>Brand :</label>
                           <input class="form-control" type="text" name="name" formControlName="brand" [value]="ecran.brand" placeholder="brand" required>
                           <div class="valid-feedback">Username field is valid!</div>
                           <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>
                        <div class="col-md-12">
                           <label>Model :</label>
                           <input class="form-control" type="text" name="name" formControlName="model" [value]="ecran.model" placeholder="model" required>
                           <div class="valid-feedback">Username field is valid!</div>
                           <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>
                        
                          <br>
                            <div class="col-md-12">
                            <label>Aquired in :</label>
                            <input class="form-control" type="date" name="name" formControlName="dateRequis" [value]="ecran.dateRequis" placeholder="dateRequis" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                         </div>
                         <div class="col-md-12">
                            <label>Manufacturer :</label>
                            <input class="form-control" type="text" name="manufacturer" formControlName="manufacturer" [value]="ecran.manufacturer" placeholder="manufacturer" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                         </div>
                          <div class="col-md-12">
                            <br>
                            <label>State:</label>
                            <select [(ngModel)]="state" formControlName="state" class="select form-control" name="state" style="display: inline;">
                              <option *ngFor="let o2 of options2">
                                 {{o2.name}}
                              </option>
                           </select>
                        </div>
                      
                        <div class="form-button col-md-12">
                            <br>
                            <button id="submit" type="submit" class="btn btn-primary " (click)="updateEcran()" >Update</button>
                            <button id="submit" type="reset" class="btn btn-primary" id="reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer><app-footer></app-footer></footer>
</body>

</html>
