
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    </head>
<body>
<app-navbar></app-navbar>
    <!------------------------->
    <!--======Push Menu======-->
<div class="title" id="space">
    <br>
    <h1>Printer Details</h1>
</div>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="../../../../assets/img/printer (1).png" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h3>
                                        {{printer.brand}}
                                    </h3>
                                    <h5>
                                        {{printer.model}}
                                    </h5>
                                    <p class="proile-rating">&nbsp;</p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Device Specifications</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Toner Specifications</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                        <input type="submit" class="profile-edit-btn" (click)="updatePrinter()" name="btnAddMore" value="Edit Info"/>
                        </div>
                        <div>
                            <input id="delete" type="submit" class="profile-edit-btn" name="btnAddMore" (click)="deletePrinter()" value="Delete Ecran"/>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>{{printer.brand}}</p>
                            <a >Aquired in : {{printer.dateRequis}}</a><br/>
                            <a >Printer State : {{printer.state}}</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>System brand</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{printer.brand}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>System Model :</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{printer.model}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Printer Type :</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{printer.type}}</p>
                                            </div>
                                        </div>
                                        
                                        
                                       
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Toner State : </label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{printer.etatToner}}</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
<!------------------------>
</body>
<footer><app-footer></app-footer></footer>
</html>