<!DOCTYPE html>
<html>
    <body>
        <app-navbar></app-navbar>
        <div id="booking" class="section">
            <div class="section-center">
                <div class="container">
                    <div class="row">
                        <div class="booking-form">      
                 <form  [formGroup]="userForm">
                    <div class="form-group row">
                        <span class="form-label col-md-3">Name</span>
                        <input class="form-control col-sm-9" type="text" formControlName="name" placeholder="Enter name" [value]="admin.aname">
                    </div>
                    <hr>
                    <div class="form-group row">
                        <span class="form-label  col-md-3">Last Name</span>
                        <input class="form-control  col-sm-9" type="text" formControlName="lastname" placeholder="Enter last name" [value]="admin.alasteName">
                    </div>
                    <hr>
                    <div class="form-group row">
                    <span class="form-label  col-md-3">Phone</span>
                    <input class="form-control  col-sm-9" type="tel" formControlName="tele" placeholder="Enter number" [value]="admin.atele">
                    </div>
                    <hr>
                    <div class="form-group row">
                        <span class="form-label  col-md-3">Email</span>
                        <input class="form-control  col-sm-9" type="email" formControlName="email" placeholder="Enter email" [value]="admin.aemail">
                    </div>
                    <hr>
                    <div class="form-group row">
                        <span class="form-label  col-sm-3">Username</span>
                        <input class="form-control  col-sm-9" formControlName="username" type="text" placeholder="Enter username" [value]="admin.ausername">
                    </div>
                    <hr>
                    <div class="form-group row">
                        <span class="form-label  col-md-3">Password</span>
                        <input class="form-control  col-sm-9" type="password" formControlName="password" placeholder="Enter password" [value]="admin.apassword">
                    </div>
                    <hr>
                    <div class="form-group row">
                        <span class="form-label col-md-3">Permissions</span>
                        <div class="form-check form-check-inline col-sm-3">
                            <input class="form-check-input" type="checkbox" formControlName="checkbox1" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label form-label" for="inlineCheckbox1">Lecture</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="checkbox2" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label form-label" for="inlineCheckbox2">Ecriture</label>
                        </div>
                    </div>
                    <hr>
                    <div class="form-btn">
                        <div class="row">
                        <div class="col-sm-6">
                        <button class="submit-btn" type="submit" (click)="updateAdmin()">Update Admin</button>
                        </div>
                        <div class="col-sm-6">
                        <button class="submit-btn" type="reset" >reset</button>
                        </div>
                        </div>
                    </div>
                 </form>
        </div>
        </div>
        </div>
        </div>
        </div>
    </body>
<footer><app-footer></app-footer></footer>
</html>