<!DOCTYPE html>
<html>
  <body>
      <app-navbar></app-navbar>
<div class="container py-5">
<div class="row"><h1>User List</h1></div>
  <div class="row py-5">   
    <button type="button" class="btn btn-warning" (click)="addUser()">Add User</button>
    <div id="table" class="card rounded shadow">
        <div class="card-header">
          <div class="row">
            <div class="modal-body row">
              <div class="col-md-6">
                  <label>Show : </label>
              </div>
            </div>
            <div class="col-md-6">
                  <select  class="custom-select ">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  </select>
            </div>
          </div>
          </div>
        <div class="card-body">
        <div class="table-responsive dataTables_length">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th id="idAdmin">Id</th>
                  <th> Name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Tele</th>
                  <th class="text-right">poste</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td id="idAdmin">
                    {{user.uid}}
                  </td>
                  <td>
                      {{user.name}}
                  </td>
                  <td>
                      {{user.lasteName}}
                  </td>
                  <td>
                      {{user.email}}
                  </td>
                  <td>
                      {{user.tele}}
                  </td>
                  <td class="text-right">
                      {{user.poste}}
                  </td>
                  <td><button type="button" class="btn btn-warning" (click)="detailsUser(user.uid)">View User</button></td>
                </tr>
              </tbody>
            </table>
        </div>
        </div>
        <div class="card-footer ">
        <div class="row"><div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 20 of 30 entries</div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate"><ul class="pagination">
              <li class="paginate_button page-item previous" id="example_previous"><a href="#" aria-controls="example" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
              </li>
              <li class="paginate_button page-item ">
                <a href="#" aria-controls="example" data-dt-idx="1" tabindex="0" class="page-link">1</a>
              </li>
              <li class="paginate_button page-item "><a href="#" aria-controls="example" data-dt-idx="2" tabindex="0" class="page-link">2</a>
              </li>
              <li class="paginate_button page-item active"><a href="#" aria-controls="example" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item next disabled" id="example_next"><a href="#" aria-controls="example" data-dt-idx="4" tabindex="0" class="page-link">Next</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
    </div>
    </div>
  </div>
</div>
</body>
<footer><app-footer></app-footer></footer>
</html>