<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="SidebarMenu" class="collapse d-lg-block sidebar collapse">
      <div class="position-sticky">
        <div class="dismiss">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
              <i class="fas fa-arrow-left"></i>
            </a>
           </div>
        <div  class="text-center">
            <img src="../../../assets/img/logo7.PNG" class="img-fluid z-depth-1 rounded-circle"
              style="width: 185px;" alt="logo">
        </div>
        <div class="list-group list-group-flush mx-3 mt-4">
          <ul class="list-unstyled menu-elements">
          <a id="list" routerLink="/departments" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-users fa-fw me-3"></i><span> Users</span></a>
          <a id="list" href="#otherSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action py-2 ripple" role="button" aria-controls="otherSections">
              <i class="fas fa-desktop fa-fw me-3"></i> Hardware
          </a>
              <ul class="collapse list-unstyled" id="otherSections">
                <li>
                  <a id="list" routerLink="/pctable" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-laptop fa-fw me-3"></i><span> Computers</span>
                  </a>
                </li>
                <li>
                  <a  id="list" routerLink="/printertable" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-print fa-fw me-3"></i><span> Printers</span></a >
                </li>
                <li>
                    <a id="list" routerLink="/tonertable" class="list-group-item list-group-item-action py-2 ripple">
                      <i class="fas fa-paint-brush fa-fw me-3"></i><span> Toners</span></a>
                </li>
                <li>
                  <a id="list" routerLink="/ecrantable" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-tv fa-fw me-3"></i><span> Monitor Screen</span></a>
              </li>
                <li>
                  <a id="list" routerLink="/materieltable" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-hdd fa-fw me-3"></i><span> Other</span>
                  </a>
                </li>
              </ul>
            <a id="list" routerLink="/missiontable" class="list-group-item list-group-item-action py-2 ripple">
                  <i class="fas fa-check-circle fa-fw me-3"></i><span> Missions</span>
            </a>
            <a id="list" href="#statistics" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action py-2 ripple" role="button" aria-controls="statistics">
              <i class="fas fa-chart-bar"></i> Statistics
          </a>
              <ul class="collapse list-unstyled" id="statistics">
                <li>
                  <a id="list" routerLink="/pctable" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-building fa-fw me-3"></i><span> Departement</span>
                  </a>
                </li>
                <li>
                  <a  id="list" href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-user-cog fa-fw me-3"></i><span> User</span></a >
                </li>
              </ul>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
</header>
  